body {
  background: #222;
  color: #eee;
  font-family: 'Space Mono', monospace;
  margin: 0;
  padding: 0;
}

div {
}

h1 {
  font-size: 18vh;
  font-style: italic;
  letter-spacing: -0.03em;
  line-height: 12.5vh;
  margin: 0;
}

#clock {
  color: yellow;
}

#tick  {
  animation: tick 2s steps(2, start) infinite;
}

@keyframes tick {
  100% {
    visibility: hidden;
  }

}
